<?xml version="1.0" encoding="UTF-8"?>
<!--Migration automatique depuis le plugin.xml original, sauvegardé dans plugin.xml.save-->
<plugin>
  <descriptif lang="fr">
    <titre>Redirection 302</titre>
    <chapo>Redirection 302 vers le parent si hors ligne</chapo>
    <description></description>
    <postscriptum></postscriptum>
  </descriptif>
  <version>1.0</version>
  <auteur>
    <nom>Mathieu Ludwig</nom>
    <societe></societe>
    <email></email>
    <web></web>
  </auteur>
  <type>classique</type>
  <prerequis/>
  <thelia>1.4.0</thelia>
  <etat>production</etat>
  <documentation></documentation>
  <urlmiseajour></urlmiseajour>
</plugin>
