<?xml version="1.0" encoding="UTF-8"?>
<!--Migration automatique depuis le fichier original, sauvegardé dans plugin.xml.save-->
<plugin>
  <descriptif lang="fr">
    <titre>Import/Export avec EBP</titre>
    <chapo></chapo>
    <description>Importer et exporter des produits avec le logiciel EBP</description>
    <postscriptum></postscriptum>
  </descriptif>
  <version>1.0</version>
  <auteur>
    <nom>Mathieu Ludwig</nom>
    <societe></societe>
    <email></email>
    <web></web>
  </auteur>
  <type>classique</type>
  <prerequis>
    <plugin version="1.0">declibre</plugin>
  </prerequis>
  <thelia>1.4.0</thelia>
  <etat>production</etat>
  <urlmiseajour></urlmiseajour>
</plugin>
