<?xml version="1.0" encoding="UTF-8"?>
<!--Migration automatique depuis le plugin.xml original, sauvegardé dans plugin.xml.save-->
<plugin>
  <descriptif lang="fr">
    <titre>Affiliation</titre>
    <chapo>Stockage du site de provenance dans un cookie</chapo>
    <description></description>
    <postscriptum></postscriptum>
  </descriptif>
  <version>1</version>
  <auteur>
    <nom>Mathieu Ludwig - Pixel Plurimédia</nom>
    <societe></societe>
    <email></email>
    <web></web>
  </auteur>
  <type>paiement</type>
  <prerequis/>
  <thelia>1.5.0</thelia>
  <etat>production</etat>
  <documentation></documentation>
  <urlmiseajour></urlmiseajour>
</plugin>
