<?xml version="1.0" encoding="UTF-8"?>
<!--Migration automatique depuis le plugin.xml original, sauvegardé dans plugin.xml.save-->
<plugin>
  <descriptif lang="fr">
    <titre>Modulo</titre>
    <chapo>Ce plugin de type filtre, permet de vérifier qu'un nombre est bien multiple d'un autre.</chapo>
    <description></description>
    <postscriptum></postscriptum>
  </descriptif>
  <version>1.0</version>
  <auteur>
    <nom>Yoan De Macedo - yoan@octolys.fr</nom>
    <societe></societe>
    <email></email>
    <web></web>
  </auteur>
  <type>classique</type>
  <prerequis/>
  <thelia>1.4.0</thelia>
  <etat>production</etat>
  <documentation>Readme.txt</documentation>
  <urlmiseajour></urlmiseajour>
</plugin>
