<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <descriptif lang="fr">
    <titre>Contenu en page d'accueil</titre>
    <chapo>Contenu visible en page d'accueil</chapo>
    <description></description>
    <postscriptum></postscriptum>
  </descriptif>
  <version>1</version>
  <auteur>
    <nom>Mathieu Ludwig - Pixel Plurimédia</nom>
    <societe></societe>
    <email></email>
    <web></web>
  </auteur>
  <type>classique</type>
  <prerequis/>
  <thelia>1.5.0</thelia>
  <etat>production</etat>
  <documentation></documentation>
  <urlmiseajour></urlmiseajour>
</plugin>
