<!DOCTYPE html>
<html xml:lang="#CODELANG" lang="#CODELANG" dir="ltr" prefix="og: http://ogp.me/ns#">
<head>
		<meta charset="utf-8" />
		<title>#VARIABLE(nomsite)</title>
    <meta property="og:title" content="#VARIABLE(nomsite)" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="#VARIABLE(urlsite)" />

    #INCLURE "inc/head.html"
		<link rel="stylesheet" type="text/css" href="#DOSSIER_TEMPLATE/css/index.css" media="all" />
</head>
<body class="index">
		<h1>Hello World !</h1>
</body>
</html>
